<h1>Listing Comment</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', user_secret_comment_path(@user, @secret,comment) %></td>
        <td><%= link_to 'Destroy', [@user, @secret, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_user_secret_comment_path(@user, @secret) %> | 
<%= link_to 'Back', user_secret_path(@user, @secret) %>
