<%= form_for([@user, @secret]) do |f| %>
  <% if @secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% @secret.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :media_url %><br>
    <%= f.text_field :media_url %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_field :about %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
