<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @secret.content %>
</p>

<p>
  <strong>Media url:</strong>
  <%= @secret.media_url %>
</p>

<p>
  <strong>About:</strong>
  <%= @secret.about %>
</p>

<%= link_to 'Edit', edit_user_secret_path(@user, @secret) %> |
<%= link_to 'Back', user_secrets_path(@user) %> | 
<%= link_to 'Comments', user_secret_comments_path(@user, @secret) %>
